.logo{
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  align-self: center;
}

.register-card {
  text-align: center;
  background-color: #2a2929ae;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-card h2 {
  margin-bottom: 20px;
  background-color: transparent;
}

.register-card .text-input,
.register-card .password-input,
.register-card .register-button,
.register-card .sso-button {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #FFF;
  margin-right: 50px;
}

.helper-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

.helper-links a{
  color: #FFF;
}

.register-card .left-text{
  font-size: 14px;
}

.register-card .right-text{
  font-size: 14px;
}

.register-card .register, .forgot{
 display: inline;
 padding-left:70px;
  margin-top: 10px;
  color: #FFF;
  text-decoration: none;
}

.register-card .register-button {
  background-color: #2a2929ae;
  color: #fff;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 14px;
  cursor: pointer;  
}

.register-card .sso-button {
  background-color: #2a2929ae;
  color: white;
  border: solid 2px #ccc;
  border-radius: 20px;
  align-items: center;
 
}

.register-card .register-button:hover {
  background-color: #1a1a1a;
  color: #fff;
 
}

.register-card .sso-button:hover {
  background-color: #1a1a1a;
  color: #fff;
 
}

.text-label {
  justify-content: left;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  color: #FFF;
  text-align: left;
}


@media (max-width: 600px) {
  .card {
    padding: 12px;
    font-size: 14px;
  }
}