.my-list-ml {
  padding: 20px;
  padding-top : 100px;
}

.movie-form-ml {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.movie-form-ml input {
  padding: 8px;
}

.movie-form-ml button {
  padding: 8px 12px;
  cursor: pointer;
}

.movie-list-ml {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.movie-card-ml {
  background-image : url(../../assets/roll.png);
  background-size: 240px;
  background-position: center;
  background-repeat: no-repeat;
  flex: auto;
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  width: 180px;
  height: 350px;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card-ml:hover {
  transform: scale(1.10);
}
.movie-card-ml h3{
  margin: 10px;
}

.movie-card-ml p{
  margin: 10px;
}

.movie-card-ml button{
  margin: 10px;
  margin-top : 15rem;
}
