.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    align-items: center;
    background-color: #000; 
    font-family: 'Arial', sans-serif;
}

.movie-carousel-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
}

.movie-carousel-section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}


